
html {
  font-size: 10px;
}
* {
  margin: 0px;
  padding: 0px;
}
.border_secondary {
  border: #ECEDED 1px solid;
}

::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app_container_bg {
  background-color: rgb(249, 249, 249);
  min-height: 100vh;
}